<component name="ArtifactManager">
  <artifact type="war" name="spring_secrity_demo:war">
    <output-path>$PROJECT_DIR$/spring_secrity_demo/target</output-path>
    <root id="archive" name="spring_secrity_demo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_secrity_demo:war exploded" />
    </root>
  </artifact>
</component>